<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 bg-light border">
      <div class="vertical-menu">
        <a href="/project-structure">project-structure</a>
        <a href="/login">template driven from: Login</a>
        <a href="/login2">template driven from: Login2 submit</a>
        <a href="/register">Reactive Form: Register</a>
        <a href="/register2">Reactive Form: Register2</a>
        <a href="#">Link 4</a>
        <a href="#">Link 4</a>
        <a href="#">Link 4</a>
        <a href="#">Link 4</a>
        <a href="#">Link 4</a>
        <a href="#">Link 4</a>




      </div>
    </div>
    <div class="col-md-9 bg-light border">
      <router-outlet />
    </div>
  </div>
</div>