<div class="container">
    <form #loginForm="ngForm">
        <h1>login Form</h1>
        <p>Submint the from while the button in out of the from</p>
        <div class="py-2">
            from value= {{loginForm.value | json}}
            <br> object value={{loginDto | json}}
        </div>
        @if(email.errors?.['required'] && email.touched){
        <div class="alert alert-danger">
            email is required
        </div>
        }
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" [(ngModel)]="loginDto.email" name="email" #email="ngModel"
                required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="loginDto.pwd" name="pwd" #pwd="ngModel" required>
        </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="OutOfFormButtonLogin(loginForm,$event)">Login</button>
    <hr>
    <form #loginForm2="ngForm" (ngSubmit)="OutOfFormButtonLogin2(loginForm2)">
        <h1>login Form2</h1>
        <p>Use ngSubmit attribute in html form element but button type must be submit and the button must be inside the
            form element.</p>
        <div class="py-2">
            from value= {{loginForm2.value | json}}
            <br> object value={{loginDto2 | json}}
        </div>
        @if(email2.errors?.['required'] && email2.touched){
        <div class="alert alert-danger">
            email is required
        </div>
        }
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" [(ngModel)]="loginDto2.email" name="email" #email2="ngModel"
                required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="loginDto2.pwd" name="pwd" #pwd="ngModel" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm2.valid">Login</button>
    </form>
    <hr>
    <form #loginForm3="ngForm">
        <h1>login Form3</h1>
        <p>ngModelChange and ngModelOptions </p>
        <p>1- default [ngModelOptions] updateOn:'change'</p>
        <p>2- [ngModelOptions] updateOn:'bure'</p>
        <p>3- [ngModelOptions]=updateOn:'submit'</p>
        <p>4- [ngModelOptions]=name:'Email'</p>
        <p>5- [ngModelOptions]=standalone:'false' default value is t rue. Make it false the control value will be as not exists in the from.</p>


        <div class="py-2">
            from value= {{loginForm3.value | json}}
        </div>
        @if(email3.errors?.['required'] && email3.touched){
        <div class="alert alert-danger">
            email is required
        </div>
        }
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" [(ngModel)]="loginDto3.email3" name="email3" #email3="ngModel"
                required (ngModelChange)="onEmailChanged($event)" [ngModelOptions]="{updateOn:'blur'}">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="loginDto3.pwd3" name="pwd3" #pwd3="ngModel"
                required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm3.valid">Login</button>
    </form>
</div>